<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{% static 'styles/about.css' %}" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
          <div class="new">
            <form action="index.html" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="FHA" />
                <h4>Food Hero Academia</h4>
              </div>

              <div class="heading">
                <h2>About</h2>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <p>
                   Welcome to 
                Food Hero Academia, your trusted partner in the fight against food waste.
                 We are dedicated to addressing one of the most pressing challenges of our time
                  – reducing food waste to create a more sustainable and responsible world.
            </p>
            <p>Our Mission

                At Food Hero Academia, our mission is clear: to educate, empower, and inspire individuals, businesses, and communities to take proactive steps in managing food waste. We firmly believe that by working together,
                 we can make a significant impact on both our environment and the global food supply chain.</p2>

                </p>
              </div>
            </form>

            <form action="index.html" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="./img/logo.png" alt="FHA" />
                <h4>Food Hero Academia</h4>
              </div>

            </form>

          

            
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="app.js"></script>
  </body>
</html>
