<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'styles/Contact.css' %}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
          <div class="new">
            <form action="index.html" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="FHA" />
                <h4>Food Hero Academia</h4>
              </div>

              <div class="heading">
                <h2>Contact</h2>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <p>
                    You can contact us at 98761-54321.</p>
              </div>
              <section class="home">
                <div class="media-icons">
                  <a href="https://www.facebook.com/profile.php?id=61552761351255" target="_blank"><i class="uil uil-facebook-f"></i></a>&ensp;
                  <a href="https://www.instagram.com/food_hero009/" target="_blank"><i class="uil uil-instagram"></i></a>&ensp;
                  <a href="https://twitter.com/foodheroac83383"target="_blank"><i class="uil uil-twitter"></i></a>
                </div>
              </section>
                 <br><br>
              <div>
                 <input type="submit" value="Submit" />
              </div>
            </form>

          

            
          </div>
        </div>
      </div>
    </main>

    </body>
</html>
